<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="myext_news_listing_data_source" xsi:type="string">Myext\News\Model\ResourceModel\News\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Myext\News\Model\ResourceModel\News\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">myext_news</argument>
            <argument name="resourceModel" xsi:type="string">Myext\News\Model\ResourceModel\News</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\App\Request\CsrfValidator">
        <plugin name="skip_csrf_validator" type="Myext\News\Model\SkipCsrfValidator" />
    </type>

	<virtualType name="Myext\News\ReferenceImageUpload" type="Myext\News\Model\ImageUploader">
		<arguments>
			<argument name="baseTmpPath" xsi:type="string">news/tmp</argument>
			<argument name="basePath" xsi:type="string">news</argument>
			<argument name="allowedExtensions" xsi:type="array">
				<item name="jpg" xsi:type="string">jpg</item>
				<item name="jpeg" xsi:type="string">jpeg</item>
				<item name="gif" xsi:type="string">gif</item>
				<item name="png" xsi:type="string">png</item>
			</argument>
			<argument name="allowedMimeTypes" xsi:type="array">
				<item name="jpg" xsi:type="string">image/jpg</item>
				<item name="jpeg" xsi:type="string">image/jpeg</item>
				<item name="gif" xsi:type="string">image/gif</item>
				<item name="png" xsi:type="string">image/png</item>
			</argument> 
		</arguments>
	</virtualType>
	
	<type name="Myext\News\Controller\Adminhtml\News\Upload">
		<arguments>
			<argument name="imageUploader" xsi:type="object">Myext\News\ReferenceImageUpload</argument>
		</arguments>
	</type>
</config>